body {
  margin: 0;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #333;
}

header {
  background: #f59a00;
  color: #fff;
  text-align: center;
  padding-top: 64px;
}

header h1,
header p{
  margin: 0;
}

header img{
  width: 280px;
  /* ↓画像をボトムラインに揃える */
  vertical-align: bottom;
}

.btn {
  text-decoration: none;
  background: #fff;
  color: #f59a00;
  display: block;
  width: 140px;
  /* ↓ボックスの縦方向のセンターに配置 */
  line-height: 400%;
  margin: 40px auto 48px;
  font-size: 14px;
  font-weight: bold;
  /* ↓ボックスの角をRにする */
  border-radius: 4px;
}

/* ↓マウスをホバーするとアクションする */
.btn:hover {
  opacity: 80%;
}

.features img{
  width:100%;
}

.features > h1{
  text-align: center;
  padding: 60px 0;
  font-weight: normal;
}

.features .container{
  margin: 0 40px;
}

.features p {
  /* ↓行間設定 */
  line-height: 2;
}

.features section{
  padding-bottom: 60px;
}

.member{
  background: #f2f2f3;
}
.member > h1{
  text-align: center;
  padding: 60px 0;
  font-weight: normal;
}

.member ul{
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.member img{
  width: 150px;
  /* ↓画像を丸くする */
  border-radius: 50%;
}

.member h2{
  font-size: 10px;
  font-style: normal;
}

.member li{
  padding-bottom: 65px;
}

.call-to-action{
  background: orange;
  color: #fff;
  text-align: center;
  padding: 50px 0;
}

.call-to-action h1{
  font-weight: normal;
}

.call-to-action .btn{
  margin: 0 auto;
}

footer{
  background: #000;
  color: #fff;
  text-align: center;
  padding: 30px 0;
}

/* 900px以上になったらスタイル変更 */
@media (min-width: 900px) {
  header .container{
    display: flex;
    width: 800px;
    margin: 0 auto;  
}

header .info{
  width:60%;
  /* 縦方向に中央揃え */
  align-self: center;
}

header .pic {
  width:40%;
}

.features .container{
  width: 800px;
  margin: 0 auto;
}

/* .features section {
  display: flex;
  justify-content: space-between;
} */

.container section {
  display: flex;
  /* ↓display: flex;で横並びにした画像とテキストに空間を作る */
  justify-content: space-between;
}

.features .pic {
  width: 50%;
}

.features .info {
  width: calc(50% - 20px);
}

.info > h2{
  margin-top: 0;
}

.container section:nth-child(even){
  flex-direction: row-reverse;
}

.member ul{
  width: 800px;
  margin: 0 auto;
  display: flex;
  /* ↓コンテンツの間を空ける */
  justify-content: space-between;
}

.member li{
  width: 200px;
}